.reporting {
  display: flex;
  flex:1;
  padding-left: 20px;
  padding-right: 20px;
}

.reporting .sidebar {
  flex: 1;
}

.reporting .report {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.reporting .report .report-content {
  padding: 10px;
  display: flex;
  flex: 1;
}

.selected-true {
  font-weight:bold;
  text-decoration: underline;
}